<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Nome</key>
	<string></string>
	<key>SobreNome</key>
	<string></string>
	<key>DataNascimento</key>
	<string></string>
	<key>TipoSanguineo</key>
	<string></string>
	<key>Pais</key>
	<string></string>
	<key>Alergias</key>
	<string></string>
	<key>PlanoSaude</key>
	<string></string>
	<key>Obs</key>
	<string></string>
	<key>Twitter</key>
	<string></string>
	<key>Facebook</key>
	<string></string>
</dict>
</plist>
