
*.xcuserstate

*.xcuserstate

*.xcbkptlist

IphoneSDK/Emergency App/Emergency App.xcodeproj/project.xcworkspace/xcuserdata/RafaelCruz.xcuserdatad/UserInterfaceState.xcuserstate

*.storyboard

IphoneSDK/Emergency App/.DS_Store

IphoneSDK/Emergency App/.DS_Store

IphoneSDK/Emergency App/Emergency App/.DS_Store

Documentacao
